
.box {
    display: flex;
    flex-flow: row wrap;
}
.boxpos {
    //margin-left: 600px;
}
.cquestion{

    #position: absolute;
    left: 670px;
    top: 349px;
    overflow: visible;
    #width: 581px;
    height: 34px;
    text-align: center;
    font-family: RM Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: rgba(112,112,112,1);

}
